body{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M83.09 326.44L148.05 363.94L148.05 438.94L83.09 476.44L18.14 438.94L18.14 363.94zM148.05 213.94L213 251.44L213 326.44L148.05 363.94L83.09 326.44L83.09 251.44zM277.95 -11.06L342.91 26.44L342.91 101.44L277.95 138.94L213 101.44L213 26.44zM342.91 101.44L407.86 138.94L407.86 213.94L342.91 251.44L277.95 213.94L277.95 138.94zM342.91 551.44L407.86 588.94L407.86 663.94L342.91 701.44L277.95 663.94L277.95 588.94zM472.82 101.44L537.77 138.94L537.77 213.94L472.82 251.44L407.86 213.94L407.86 138.94zM537.77 -11.06L602.72 26.44L602.72 101.44L537.77 138.94L472.82 101.44L472.82 26.44zM667.68 -11.06L732.63 26.44L732.63 101.44L667.68 138.94L602.72 101.44L602.72 26.44zM732.63 326.44L797.59 363.94L797.59 438.94L732.63 476.44L667.68 438.94L667.68 363.94zM732.63 551.44L797.59 588.94L797.59 663.94L732.63 701.44L667.68 663.94L667.68 588.94zM927.49 -11.06L992.45 26.44L992.45 101.44L927.49 138.94L862.54 101.44L862.54 26.44zM927.49 438.94L992.45 476.44L992.45 551.44L927.49 588.94L862.54 551.44L862.54 476.44zM992.45 551.44L1057.4 588.94L1057.4 663.94L992.45 701.44L927.49 663.94L927.49 588.94zM1122.35 326.44L1187.31 363.94L1187.31 438.94L1122.35 476.44L1057.4 438.94L1057.4 363.94zM1122.35 551.44L1187.31 588.94L1187.31 663.94L1122.35 701.44L1057.4 663.94L1057.4 588.94zM1252.26 326.44L1317.21 363.94L1317.21 438.94L1252.26 476.44L1187.31 438.94L1187.31 363.94zM1382.17 551.44L1447.12 588.94L1447.12 663.94L1382.17 701.44L1317.22 663.94L1317.22 588.94zM1447.12 -11.06L1512.08 26.44L1512.08 101.44L1447.12 138.94L1382.17 101.44L1382.17 26.44zM1512.08 326.44L1577.03 363.94L1577.03 438.94L1512.08 476.44L1447.12 438.94L1447.12 363.94zM1512.08 551.44L1577.03 588.94L1577.03 663.94L1512.08 701.44L1447.12 663.94L1447.12 588.94z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M75.59 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM140.55 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM140.55 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM75.59 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM10.64 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM10.64 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM140.55 213.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM205.5 251.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM205.5 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM75.59 251.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM270.45 -11.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM335.41 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM335.41 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM270.45 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM205.5 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM205.5 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM400.36 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM400.36 213.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM335.41 251.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM270.45 213.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM335.41 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM400.36 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM400.36 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM335.41 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM270.45 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM270.45 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM465.32 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM530.27 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM530.27 213.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM465.32 251.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM530.27 -11.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM595.22 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM595.22 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM465.32 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 -11.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.09 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.09 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.09 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM790.09 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM725.13 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM660.18 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM919.99 -11.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM984.95 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM984.95 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM919.99 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.04 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.04 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM919.99 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM984.95 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM984.95 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM919.99 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.04 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM855.04 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1049.9 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1049.9 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM984.95 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM919.99 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1114.85 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1179.81 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1179.81 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1114.85 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1049.9 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1049.9 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1114.85 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1179.81 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1179.81 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1114.85 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1244.76 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1309.71 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1309.71 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1244.76 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1374.67 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1374.67 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1309.72 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1309.72 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 -11.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 138.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1374.67 101.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1374.67 26.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 326.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1569.53 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1569.53 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 476.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 438.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1439.62 363.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 551.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1569.53 588.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1569.53 663.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1504.58 701.44 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M26.08 124.31L69.38 149.31L69.38 199.31L26.08 224.31L-17.22 199.31L-17.22 149.31zM69.38 199.31L112.69 224.31L112.69 274.31L69.38 299.31L26.08 274.31L26.08 224.31zM112.69 -25.69L155.99 -0.69L155.99 49.31L112.69 74.31L69.38 49.31L69.38 -0.69zM155.99 49.31L199.29 74.31L199.29 124.31L155.99 149.31L112.69 124.31L112.69 74.31zM112.69 124.31L155.99 149.31L155.99 199.31L112.69 224.31L69.38 199.31L69.38 149.31zM112.69 274.31L155.99 299.31L155.99 349.31L112.69 374.31L69.38 349.31L69.38 299.31zM199.29 124.31L242.59 149.31L242.59 199.31L199.29 224.31L155.99 199.31L155.99 149.31zM199.29 424.31L242.59 449.31L242.59 499.31L199.29 524.31L155.99 499.31L155.99 449.31zM285.89 -25.69L329.2 -0.69L329.2 49.31L285.89 74.31L242.59 49.31L242.59 -0.69zM285.89 274.31L329.2 299.31L329.2 349.31L285.89 374.31L242.59 349.31L242.59 299.31zM329.2 349.31L372.5 374.31L372.5 424.31L329.2 449.31L285.89 424.31L285.89 374.31zM415.8 49.31L459.11 74.31L459.11 124.31L415.8 149.31L372.5 124.31L372.5 74.31zM372.5 124.31L415.8 149.31L415.8 199.31L372.5 224.31L329.2 199.31L329.2 149.31zM415.8 199.31L459.11 224.31L459.11 274.31L415.8 299.31L372.5 274.31L372.5 224.31zM459.11 274.31L502.41 299.31L502.41 349.31L459.11 374.31L415.8 349.31L415.8 299.31zM502.41 349.31L545.71 374.31L545.71 424.31L502.41 449.31L459.11 424.31L459.11 374.31zM502.41 499.31L545.71 524.31L545.71 574.31L502.41 599.31L459.11 574.31L459.11 524.31zM589.01 199.31L632.32 224.31L632.32 274.31L589.01 299.31L545.71 274.31L545.71 224.31zM589.01 349.31L632.32 374.31L632.32 424.31L589.01 449.31L545.71 424.31L545.71 374.31zM545.71 424.31L589.01 449.31L589.01 499.31L545.71 524.31L502.41 499.31L502.41 449.31zM589.01 499.31L632.32 524.31L632.32 574.31L589.01 599.31L545.71 574.31L545.71 524.31zM632.32 124.31L675.62 149.31L675.62 199.31L632.32 224.31L589.01 199.31L589.01 149.31zM675.62 349.31L718.92 374.31L718.92 424.31L675.62 449.31L632.32 424.31L632.32 374.31zM718.92 -25.69L762.22 -0.69L762.22 49.31L718.92 74.31L675.62 49.31L675.62 -0.69zM718.92 124.31L762.22 149.31L762.22 199.31L718.92 224.31L675.62 199.31L675.62 149.31zM762.22 349.31L805.53 374.31L805.53 424.31L762.22 449.31L718.92 424.31L718.92 374.31zM762.22 499.31L805.53 524.31L805.53 574.31L762.22 599.31L718.92 574.31L718.92 524.31zM805.53 -25.69L848.83 -0.69L848.83 49.31L805.53 74.31L762.22 49.31L762.22 -0.69zM848.83 199.31L892.13 224.31L892.13 274.31L848.83 299.31L805.53 274.31L805.53 224.31zM935.43 49.31L978.74 74.31L978.74 124.31L935.43 149.31L892.13 124.31L892.13 74.31zM892.13 124.31L935.43 149.31L935.43 199.31L892.13 224.31L848.83 199.31L848.83 149.31zM935.43 349.31L978.74 374.31L978.74 424.31L935.43 449.31L892.13 424.31L892.13 374.31zM935.43 499.31L978.74 524.31L978.74 574.31L935.43 599.31L892.13 574.31L892.13 524.31zM978.74 -25.69L1022.04 -0.69L1022.04 49.31L978.74 74.31L935.43 49.31L935.43 -0.69zM1022.04 199.31L1065.34 224.31L1065.34 274.31L1022.04 299.31L978.74 274.31L978.74 224.31zM978.74 274.31L1022.04 299.31L1022.04 349.31L978.74 374.31L935.43 349.31L935.43 299.31zM978.74 424.31L1022.04 449.31L1022.04 499.31L978.74 524.31L935.43 499.31L935.43 449.31zM1065.34 -25.69L1108.64 -0.69L1108.64 49.31L1065.34 74.31L1022.04 49.31L1022.04 -0.69zM1108.64 49.31L1151.94 74.31L1151.94 124.31L1108.64 149.31L1065.34 124.31L1065.34 74.31zM1065.34 124.31L1108.64 149.31L1108.64 199.31L1065.34 224.31L1022.04 199.31L1022.04 149.31zM1151.94 274.31L1195.25 299.31L1195.25 349.31L1151.94 374.31L1108.64 349.31L1108.64 299.31zM1195.25 499.31L1238.55 524.31L1238.55 574.31L1195.25 599.31L1151.94 574.31L1151.94 524.31zM1238.55 -25.69L1281.85 -0.69L1281.85 49.31L1238.55 74.31L1195.25 49.31L1195.25 -0.69zM1238.55 124.31L1281.85 149.31L1281.85 199.31L1238.55 224.31L1195.25 199.31L1195.25 149.31zM1238.55 274.31L1281.85 299.31L1281.85 349.31L1238.55 374.31L1195.25 349.31L1195.25 299.31zM1325.15 -25.69L1368.46 -0.69L1368.46 49.31L1325.15 74.31L1281.85 49.31L1281.85 -0.69zM1368.46 49.31L1411.76 74.31L1411.76 124.31L1368.46 149.31L1325.15 124.31L1325.15 74.31zM1325.15 274.31L1368.46 299.31L1368.46 349.31L1325.15 374.31L1281.85 349.31L1281.85 299.31zM1411.76 124.31L1455.06 149.31L1455.06 199.31L1411.76 224.31L1368.46 199.31L1368.46 149.31zM1455.06 199.31L1498.37 224.31L1498.37 274.31L1455.06 299.31L1411.76 274.31L1411.76 224.31z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

header{
    margin: 0px;
    text-align: center;
    height: 100px;
    padding: 10px;
    
}

main{
    margin: 0px;
    text-align: center;
    padding: 5px;
    height: 750px;

}

p2{
    text-align: center;
    font-size: large;
    color: aqua;
    margin: 100px;

}

h1{
    color: #fff;
    font-family: 'EB Garamond', serif;

}
p{
    font-size: 35px;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    
}

#persona{
    z-index: 1;
    width: 440px;
    height: 340px;
    padding: 20px 20px;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

footer{
    color: #fff;
    flex: 0 0 auto;
    margin: 0px;
    padding: 10px;
    height: 90px;
}

:root{
    --facebook: #3b5999;
    --instragram: #e4405f ;
    --twitter: #55acee;
    --linkedin: #007785;

}

.redes-container{
    display: flex;

    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 100px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;

}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background:  #3b5999 ;
}

.redes-container ul li .instagram:hover{
    background: #ec4a68;
}

.redes-container ul li .twitter:hover{
    background:  #55acee ;
}

.redes-container ul li .linkedin:hover{
    background:  #007785 ;
}
#botonInstragram{
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px;
}